<h3>Manage Website</h3>

<table class="table">
  <% if @website %>
  <tr>
    <td><%= link_to "Edit website", edit_website_path(@website) %></td>
  </tr>
  <% else %>
  <tr>
    <td><%= link_to "Create website", new_website_path %></td>
  </tr>
  <% end %>
  <% if @website %>
  <tr>
    <td><%= link_to "Manage pages", pages_path %></td>
    <!-- <li><%= link_to "Manage sections", sections_path %></li> -->
  </tr>
  <% end %>
</ul>
