<h3>Menu</h2>

<table class="table">
  <tr>
    <td><%= link_to "Manage Website", websites_path %></td>
  </tr>
  <tr>
    <td><%= link_to "Manage Admin Users", users_path %></td>
  </tr>
<!--   <tr>
    <td><%= link_to "Images", admin_path %></td>
  </tr> -->
</table>