<h2>Create Page</h2>
<%= form_for(:page, :url => {:action => 'create', :website_id => @website.id}) do |f| %>
  
  <%= render(:partial => "form", :locals => {:f => f}) %>

  <%= f.submit "Save" %>

<% end %>
