
* {margin: 0; padding: 0;}

a {text-decoration: none;}

.fixed {
  position: fixed; 
  top: 0; 
  height: 70px; 
  z-index: 1;
}

body {
  font-family: 'open-sans-bold'; 
  font-size: 18px;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

nav {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: #fff;
}

nav li {
  display: inline-block;
  padding: 24px 10px;
}

nav li a {
  color: #757575;
  text-transform: uppercase;
}

section {
  height: 100vh;
  width: 99vw;
  margin-bottom: -15px;
  overflow: auto;
}

footer {
  height: 70px;
  line-height: 70px;
  background-color: #000;
  z-index: 1;
}

.footer {
  color: #fff;
  text-align: center;
  vertical-align: middle;
}
.container {
  padding-left: 20px;
  padding-right: 20px;
}
.jumbotron {
  margin-top: 20px;
}
.well {
  opacity: 0.85;
}
.panel {
  opacity: 0.9;
}
.logo{
  float: right;
}

@media only screen and (max-width: 520px) {

  nav li {
    padding: 24px 4px;
  }

  nav li a {
    font-size: 14px;
  }

}

.form-control {
  width: 75% !important;
}

.admin-footer {
  background-color: #FFF;
  height: 30px;
}
.jumbotron {
  border: 1px solid #DDD;
  background: #f6f8f9; /* Old browsers */
  background: -moz-linear-gradient(top,  #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f8f9), color-stop(50%,#e5ebee), color-stop(51%,#d7dee3), color-stop(100%,#f5f7f9)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */
  border-radius: 7px;
}
